.city-img-top {
    width: auto;
    height: 210px;
}

.navbar {
    background-color: coral!important;
}

.carousel {
    height: 600px!important;
}

.carousel-inner {
    height: 600px!important;
}

.carousel-item {
    height: 600px!important;
}

.my-carousel-row {
    text-align: center!important;
    justify-content: center!important;
}

.person_pic {
    border-radius: 50%!important;
    height:200px!important;
    width:200px!important;
}

.img-area {
    height:250px;
    width:250px;
}
.all-events-welcome {
    padding: 10px;
    margin: 10px;
}
.container-all-events {
    padding: 10px;
    margin: 10px;
}