<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Organize event</title>
</head>
<body>

<div th:replace="fragments/navbar">
    Navbar
</div>

<div class="container">
    <h2 class="text-center text-orange">Organize event</h2>
    <form th:method="post"
          th:action="@{/events/add}"
          th:object="${eventModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-Orange font-weight-bold" for="townId">Country and town</label>
                <select id="townId"
                        name="townId"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">Select a country and town</option>
                    <optgroup th:each="co : ${countries}"
                              th:label="${co.name}">
                        <option th:each="town : ${co.towns}"
                                th:text="${town.name}"
                                th:value="${town.id}"
                                th:selected="*{townId} == ${town.id}">Country and town</option>
                    </optgroup>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Country and town are required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-orange font-weight-bold" for="eventName">Event name</label>
                <input th:field="*{eventName}"
                       th:errorclass="is-invalid"
                       id="eventName"
                       name="eventName"
                       type="text"
                       class="form-control"
                       placeholder="Event name here">
                <p class="invalid-feedback errors alert alert-danger">
                    Event name is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-orange font-weight-bold" for="type">EventType</label>
                <select id="type"
                        name="type"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">Select Event Type</option>
                    <option th:each="et : ${T(com.firstownproject.FirstProject.model.enums.EventTypeEnum).values()}"
                            th:text="${et}"
                            th:value="${et}"
                            th:selected="${et} == *{type}">
                        Event Type
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Event type is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-orange font-weight-bold" for="place">Place</label>
                <select id="place"
                        name="place"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">Select Place</option>
                    <option th:each="place : ${T(com.firstownproject.FirstProject.model.enums.EventPlaceEnum).values()}"
                            th:text="${place}"
                            th:value="${place}"
                            th:selected="${place} == *{place}">
                        Place
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Place is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3 ">
                <label for="date" class="text-center text-orange font-weight-bold">Date</label>
                <input type="date" class="form-control" id="date" name="date"
                       th:errorclass="is-invalid"
                       th:field="*{date}"/>
            </div>
            <small class="invalid-feedback errors alert alert-danger">
                Invalid date.
            </small>
            <div class="form-group col-md-6 mb-3">
                <label class="text-orange font-weight-bold" for="address">Address</label>
                <input th:field="*{address}"
                       th:errorclass="is-invalid"
                       id="address"
                       name="address"
                       type="text"
                       class="form-control"
                       placeholder="Put address here">
                <p class="invalid-feedback errors alert alert-danger">
                    Address is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea th:field="*{description}"
                      th:errorclass="is-invalid"
                      id="description"
                      type="textarea"
                      class="form-control"
                      rows="3"
                      placeholder="Description"></textarea>
            <p class="invalid-feedback errors alert alert-danger">
                Description is required.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Event"/>
                </div>
            </div>
        </div>
    </form>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/js/app.js}">
</body>
</html>